span.red {
    background: red;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    width: 1.6em;
}

span.green {
    background: #5EA226;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 2px;
    margin-left:2px;
    margin-top: 2px;
    text-align: center;
    width: 1.6em;
}

span.orange {
    background: orange;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    width: 2em; /*más ancho, para + y -*/
}

span.blue {
    /*background: #5178D0;*/
    background: #009688;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    /*font-size: large;*/
    line-height: 1.6em;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    width: 1.6em;
    /*  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);*/
}

span.blue2 {
    background: #009688;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    width: 2em;   /*más ancho, para + y -*/
}
