.error.help-inline {
    color: #a93226;
    /*background: #f2d7d5;*/
}

.form-profesor, .form-grupo, .form-asignatura, .form-alumno{
    max-width: 50rem;
    padding: 2rem 1rem 1rem; }

.form-por-grupos{
    max-width: 50rem;
    margin:0;
}

.form-anotaciones {
    max-width: 40rem;
    padding: 0 0 0; }

.form-login {
    text-align: left;
  max-width: 30rem;
  padding: 2rem 1rem 1rem; }

.form-login .form-actions{
    text-align: center;
}

.div-login{
    margin: 0 auto;
    width: 35rem;
    margin-top: 20px;
    text-align:center;
}
.div-login h1{
    color: #009688;
    font-weight: bolder;
    font-style: italic;
}

.form-password {
    max-width: 50rem;
    padding: 4rem 1rem 1rem; }


.form-password h5{
    color: #009688;
}

.password-message{
    max-width: 100rem;
    margin-top: 5rem;
}

#fechas_anotaciones_form {
    max-width: 40rem;
    padding: 2rem 1rem 1rem; }

#fechas_anotaciones_form input[type=submit].link {
    border: none;
    background: none;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 2;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
}

#fechas_anotaciones_form input[type=submit].link:hover, #fechas_anotaciones_form input[type=submit].link:focus {
    color: #009688;
}