.enlaces-fecha {
    text-align: right;
    margin-bottom: 5px;
}

#ordenable .panel-heading {
        cursor: move;
    }


.foto-alumno{
    display: block;
    margin: 0 auto;
    width:70%;
}

.img-foto{
    border-radius: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 30px;
    height: 30px;
    border: 0;
}

.img-foto-alumno{
    border-radius: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border: 0;
}
