.list-group .list-group-separator::before {
            content: "";;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            float: left;}

 @media screen and (min-width: 775px) {

     .list-group .list-group-separator::before {
            width: 50%;
     }


 }

 @media screen and (max-width: 775px) {

     .list-group .list-group-separator::before {
         width: 100%;
     }
 }





