/* Style the links inside the sidenav */
#mySidenav a {
    position: fixed; /* Position them relative to the browser window */
    left: -40px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 10px; /* 15px padding */
    width: 60px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 15px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    cursor:pointer;
    z-index: 2;/*por encima de los paneles*/
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 150px from the top with a green background */

#todos {
    top: 150px;
    background-color: #009688;
}

#ninguno {
    top: 200px;
    background-color: #009688;
}
#invertir {
    top: 250px;
    background-color: #009688;
}

#falta {
    top: 300px;
    background-color: indianred;
}

#trabaja {
    top: 350px;
    background-color: olivedrab;
}

#positivo {
    top: 400px;
    background-color: goldenrod;
}

#negativo {
    top: 450px;
    background-color: goldenrod;
}