 @media screen and (min-width: 775px) {

     #lateral {
         width: 250px;
         float: left;
     }

     #principal {
         margin-left: 250px;
         position: relative;
     }

 }

 @media screen and (max-width: 775px) {

     #lateral {
         width: 150px;
         float: left;
     }

     #principal {
         margin-left: 150px;
         position: absolute;
     }

 }

/*TABLA DE ANOTACIONES*/
table.tablaAnotaciones{
    /*border: #428BCA 1px solid;
    table-layout: fixed;
    overflow: hidden;*/
    white-space:nowrap;
    text-overflow: ellipsis;

}
 table.tablaMatriculas{
    /*border: #428BCA 1px solid;
    table-layout: fixed;
    overflow: hidden;*/
    white-space:nowrap;
    text-overflow: ellipsis;
     font-size: smaller;
}

.tablaAnotaciones tr.fila2, .tablaMatriculas tr.fila2{
    background-color: #dff0d8;
}

.tablaAnotaciones tr.fila1, .tablaMatriculas tr.fila1{
    background-color: white;
}

.tablaAnotaciones th.alumno, .tablaMatriculas th.alumno{
    width: 250px;
    border: #009688 1px solid;
    /*overflow: auto;*/
    background-color: #009688;
    color: white;
}

.tablaAnotaciones th.resumen{
    width: 150px;
    border: #009688 1px solid;
   /*overflow: auto;*/
    background-color: #009688;
    color: white;
    text-align: center;
}

.tablaAnotaciones th.fechas, .tablaMatriculas th.asignaturas{
    width: 80px;
    border: #009688 1px solid;
    /*overflow: auto;*/
    background-color: #009688;
    color: white;
    text-align: center;
}


.tablaAnotaciones td, .tablaMatriculas td{
    border: #009688 0.5px solid;
    text-align: center;
}

.tablaAnotaciones td.alumno, .tablaMatriculas td.alumno{
    color: #009688;
    text-align: left;
}

.tablaAnotaciones td.resumen{
    background-color: lightgray;
}

/*TABLA DE ALUMNADO de una asignatura*/
table#tablaAlumnado {
    border: #009688 1px solid;
    table-layout: auto;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    border: 0;
}

#tablaAlumnado th {
    background-color: #009688;
    color: white;
    text-align: center;
}

#tablaAlumnado td.anotacion {
    border: #009688 1px solid;
    vertical-align: middle;
    white-space:nowrap;
    text-overflow: ellipsis;
}

#tablaAlumnado td.alumno {
    border: #009688 1px solid;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;

}

#tablaAlumnado td.alumno input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 10px;

}

#tablaAlumnado tr.fila1 {
    background-color: white;
}

#tablaAlumnado tr.fila2 {
    background-color: #dff0d8 ;
}

#tablaAlumnado tr.error {
    background-color: #f2d7d5;
    color: darkred;
}

#tablaAlumnado td.blue {
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

#tablaAlumnado td.red {
    background-color: #f2d7d5;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

#tablaAlumnado td.green {
    background-color: #c4e187;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

#tablaAlumnado .glyphicon{
    font-size: small;
}

#tablaAlumnado td.orange {
    background-color:  #fad7a0;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.boton, a:link.boton, a:active.boton, a:visited.boton, a:hover.boton {
    text-decoration:none;
    color:#009688;
    font-weight: bolder;
    display:block;
    cursor: pointer;
    width:100%;
    height:100%;
}

.overflow{
   overflow:hidden;
}

td.errorAnotaciones{
    background-color:  #f2d7d5;
}

 .nombre-alumno {
     cursor: pointer;
     color: #009688;
     font-weight: bolder;
 }