 @media screen and (min-width: 775px) {

     #lateral {
         width: 250px;
         float: left;
     }

     #principal {
         margin-left: 250px;
         position: relative;
     }

 }

 @media screen and (max-width: 775px) {

     #lateral {
         width: 150px;
         float: left;
     }

     #principal {
         margin-left: 150px;
         position: absolute;
     }

 }

/*TABLA DE ANOTACIONES*/
table.tablaAnotaciones {
    /*border: #428BCA 1px solid;
    table-layout: fixed;
    overflow: hidden;*/
    white-space:nowrap;
    text-overflow: ellipsis;
}

.tablaAnotaciones tr.fila1{
    background-color: lightgoldenrodyellow;
}

.tablaAnotaciones tr.fila2{
    background-color: white;
}

.tablaAnotaciones th.alumno{
    width: 250px;
    border: #428BCA 1px solid;
    /*overflow: auto;*/
    background-color: #428BCA;
    color: white;
}

.tablaAnotaciones th.resumen{
    width: 150px;
    border: #428BCA 1px solid;
   /*overflow: auto;*/
    background-color: #428BCA;
    color: white;
}

.tablaAnotaciones th.fechas{
    width: 80px;
    border: #428BCA 1px solid;
    /*overflow: auto;*/
    background-color: #428BCA;
    color: white;
}

.tablaAnotaciones td{
    border: #428BCA 1px solid;
}

.tablaAnotaciones td.resumen{
    background-color: lightgray;
}

/*TABLA DE ALUMNADO de una asignatura*/
table#tablaAlumnado {
    border: #428BCA 2px solid;
    table-layout: auto;
}

#tablaAlumnado th {
    color: #428BCA;
    text-align: center;
}

#tablaAlumnado td.anotacion {
    border: #428BCA 1px solid;
    vertical-align: middle;
    white-space:nowrap;
    text-overflow: ellipsis;
}

#tablaAlumnado td.alumno {
    border: #428BCA 1px solid;
}

#tablaAlumnado tr.fila1 {
    background-color: lightgrey;
}

#tablaAlumnado tr.fila2 {
    background-color: white;
}

#tablaAlumnado tr.error {
    background-color: lightpink;
    color: darkred;
}

#tablaAlumnado td.blue {
    background-color: lightsteelblue;
    text-align: center;
}

#tablaAlumnado td.red {
    background-color: lightcoral;
    text-align: center;
}

#tablaAlumnado td.green {
    background-color: lightgreen;
    text-align: center;
}

#tablaAlumnado td.orange {
    background-color: moccasin;
    text-align: center;
}

.boton, a:link.boton, a:active.boton, a:visited.boton, a:hover.boton {
    text-decoration:none;
    color:#428BCA;
    font-weight: bolder;
    display:block;
    cursor: pointer;
}

.overflow{
   overflow:hidden;
}

td.errorAnotaciones{
    background-color: lightpink;
}