/*TABLA DE ANOTACIONES*/
table#tablaAnotaciones {
    border: gray 2px solid;
    table-layout: fixed;
}

#tablaAnotaciones tr.fila1{
    background-color: lightgrey;
}

#tablaAnotaciones tr.fila2{
    background-color: white;
}

#tablaAnotaciones th.alumno{
    width: 250px;
    border: gray 1px solid;
    overflow: auto;
    background-color: dodgerblue;
    color: darkblue;
}

#tablaAnotaciones th.resumen{
    width: 150px;
    border: gray 1px solid;
    overflow: auto;
    background-color: dodgerblue;
    color: darkblue;
}

#tablaAnotaciones th.fechas{
    width: 80px;
    border: gray 1px solid;
    overflow: auto;
    background-color: dodgerblue;
    color: darkblue;
}

#tablaAnotaciones td{
    border: gray 1px solid;
}

#tablaAnotaciones td.resumen{
    background-color: lightgray;
}

/*TABLA DE ALUMNADO de una asignatura*/
table#tablaAlumnado {
    border: steelblue 2px solid;
    table-layout: auto;
}

#tablaAlumnado th {
    color: steelblue;
    text-indent: 10%;
}

#tablaAlumnado td {
    border: steelblue 1px solid;
}

#tablaAlumnado tr.fila1 {
    background-color: lightgrey;
}

#tablaAlumnado tr.fila2 {
    background-color: white;
}

#tablaAlumnado tr.error {
    background-color: lightpink;
    color: darkred;
}

#tablaAlumnado td.blue {
    background-color: lightsteelblue;
    text-align: center;
}

#tablaAlumnado td.red {
    background-color: lightcoral;
    text-align: center;
}

#tablaAlumnado td.green {
    background-color: lightgreen;
    text-align: center;
}

#tablaAlumnado td.orange {
    background-color: moccasin;
    text-align: center;
}

.boton, a:link.boton, a:active.boton, a:visited.boton, a:hover.boton {
    text-decoration:none;
    color:steelblue;
    font-weight: bolder;
    display:block;
}

.overflow{
   overflow:hidden;
}

td.errorAnotaciones{
    background-color: lightpink;
}