{% extends 'base.html' %}

{% block section %}
    <h2>{{ object.nombre | capfirst }} {{ object.apellido1 | capfirst }} {{ object.apellido2 | capfirst }}</h2>

    <a href="{% url 'editar-alumno' object.id %}">Editar</a>
    <a href="{% url 'eliminar-alumno' object.id %}">Eliminar</a>
    <br><br>
{% endblock %}

{% block maincontent %}
    <div class="row well">
        <h3>Grupo:</h3> {{ object.grupo.get_curso_display }} {{ object.grupo.unidad }}

    </div>
    <div class="row well">
        {%  for a in object.asignaturas.all%}

            <div>{{ a.nombre }} impartida por {{ a.profesor.nombre }} {{ a.profesor.apellidos }}</div>

        {% endfor %}
   </div>


{% endblock %}

