{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li><a href="{% url 'lista-alumnos' %}">Alumnado</a></li>
    <li class="active">{{ object.nombre }} {{ object.apellido1 }} {{ object.apellido2 }}</li>
{% endblock %}

{% block maincontent %}
    <h2>{{ object.nombre | capfirst }} {{ object.apellido1 | capfirst }} {{ object.apellido2 | capfirst }}

    {% if request.user.is_superuser or request.user.id == object.grupo.tutor_id %}
        <a data-toggle="tooltip" title="Editar" href="{% url 'editar-alumno' object.id %}"><i class="material-icons">mode_edit</i></a>
    {% endif %}
    {% if request.user.is_superuser %}
        <a data-toggle="tooltip" title="Eliminar" href="{% url 'eliminar-alumno' object.id %}"><i class="material-icons">delete</i></a>
    {% endif %}
    </h2>

    <br>
    <div class="row well well-sm">
        <div style="float: left">
        {% if object.foto %}
            <img src="{{ object.foto.url }} " class="img-circle img-foto-alumno"/>
        {% else %}
            <img src="{%static "sinfoto.png" %}" class="img-circle img-foto-alumno"/>
        {% endif %}
        </div>

        <div style="float: left;"><h5>
        <span style="color:#009688">Grupo:</span> {{ object.grupo.get_curso_display}} {{ object.grupo.unidad }}
        <br><br>
        <span style="color:#009688">Fecha de nacimiento:</span> {{ object.fecha_nacimiento }}
            <br><br>
        <span style="color:#009688">Correo electrónico:</span> {{ object.email }}

        </h5></div>
    </div>

    <div class="row well">
        <h3 style="margin-top: 5px; margin-bottom: 20px">Asignaturas:</h3>
        <div class="list-group">
        {%  for a in object.asignaturas.all%}

            <div class="list-group-item">
                {{ a.nombre }} impartida por {{ a.profesor.first_name }} {{ a.profesor.last_name }}</div>
            <div class="list-group-separator" ></div>
        {% endfor %}
        </div>
   </div>


{% endblock %}