<!-- vista = 'cuad' -->

{% extends 'base.html' %}
{% load static %}
{% load mis_filtros %}


{% block js %}

    <script>

    jQuery(function($){
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant ',
		nextText: ' Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
	$("#datepicker").datepicker({
        showAnim: 'slideDown',
        beforeShowDay: jQuery.datepicker.noWeekends,
        onSelect: function(date, inst) {
            document.anotaciones_form.submit();
        },
    });
});


$(document).ready(function() {
   $("#datepicker").datepicker();
   $("#ordenable").sortable({
            // Only make the .panel-heading child elements support dragging.
            // Omit this to make then entire <li>...</li> draggable.
            handle: '.panel-heading',
            update: function (event, ui) {
                //var ordenElementos = $(this).sortable("toArray").toString();
                var data = $(this).sortable( "serialize");
                //alert(data);

                // POST to server using $.post or $.ajax
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: "{% url 'ordenar-asignatura' object.pk%}"
                });
            }
        });
 });


    var formAjaxSubmit = function(form, modal) {
     $(form).submit(function (e) {
         e.preventDefault();
         $.ajax({
             type: $(this).attr('method'),
             url: $(this).attr('action'),
             data: $(this).serialize(),
             success: function (xhr, ajaxOptions, thrownError) {
                 if ( $(xhr).find('.has-error').length > 0 ) {
                     $(modal).find('.modal-body').html(xhr);
                     formAjaxSubmit(form, modal);
                 } else {
                     $(modal).modal('toggle');

                     //alert("Anotación grabada correctamente");

                     //se recarga el div #panel-alumnoX --> pero se pierde el enlace a la ventana modal
                     //$(div).load(' #panel-alumno'+num, function(){$(this).children().unwrap()});
                     location.reload(); //se recarga la página completa

                 }
             },
             error: function (xhr, ajaxOptions, thrownError) {
                 // handle response errors here
                }
             });
        });
    }

    </script>

{% endblock %}

{% block acciones %}
    <li><a href="{% url "lista-anotaciones" object.id %}">Anotaciones</a></li>

{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li><a href="{% url 'asignaturas-profesor' %}">Mis asignaturas</a></li>
    <li class="active">{{ object.nombre}}</li>
{% endblock %}


{% block maincontent %}

    <form action="{% url "poner-anotaciones" object.id vista fecha %}" name="anotaciones_form" id="anotaciones_form" method="post">{% csrf_token %}

        <div class="btn-group-sm enlaces-fecha">
            <label class="control-label" for="datepicker"> Fecha: </label>
            <input type="text" name="fecha" id="datepicker" step="1" value="{{ fecha }}" size="8">
            <label class="control-label"  for="columnas"> Distribución: </label>
            <select name="columnas" id="columnas" size="1" onchange="document.anotaciones_form.submit()">
                <option {% if cols == 1 %}selected {% endif %} value="1">1</option>
                <option {% if cols == 2 %}selected {% endif %} value="2">2</option>
                <option {% if cols == 3 %}selected {% endif %} value="3">3</option>
                <option {% if cols == 4 %}selected {% endif %} value="4">4</option>
                <option {% if cols == 5 %}selected {% endif %} value="5">5</option>
                <option {% if cols == 6 %}selected {% endif %} value="6">6</option>
                <option {% if cols == 7 %}selected {% endif %} value="7">7</option>
                <option {% if cols == 8 %}selected {% endif %} value="8">8</option>
            </select>

            <button type="button" class="btn btn-primary btn-fab" onclick="cambiarVista('cuadricula')">
                <i class="material-icons">view_module</i>
            </button>

            <button type="button" class="btn btn-primary btn-fab"  value="lista" onclick="cambiarVista('lista')">
                <i class="material-icons">view_list</i>
            </button>

            <input type="hidden" id="vista" name="vista" value="{{ vista }}" readonly>

        </div>

    {% if not lectivo %}
        <h4>Día no lectivo</h4>
    {% else %}

        <div id="mySidenav" class="sidenav">
            <a href="{% url "lista-anotaciones" object.id %}" id="anotaciones"><i class="material-icons">assessment</i></a>
            <a onclick="seleccionar_checkbox(1)" id="todos"><i class="material-icons">select_all</i></a>
            <a onclick="seleccionar_checkbox(0)" id="ninguno"><i class="material-icons">all_out</i></a>
            <a id="invertir" onclick="invertir_seleccion()"><i class="material-icons">swap_vert</i></a>
            <a onclick="poner_falta()" id="falta"><i class="material-icons">watch_later</i></a>
            <a onclick="poner_trabaja()" id="trabaja"><i class="material-icons">stars</i></a>
            <a onclick="poner_positivo()" id="positivo"><i class="material-icons">thumb_up</i></a>
            <a onclick="poner_negativo()" id="negativo"><i class="material-icons">thumb_down</i></a>
        </div>

        <input type="hidden" id="nota" name="nota" value="sin anotacion">

        <!-- VISTA CUADRÍCULA -->
        <div class="row well well-sm" id="cuadricula">
        <ul id="ordenable" class="list-inline">

        {% for a in alumnado_list%}
            <!--div class="col-xs-6 col-sm-3 col-md-8r"-->


                {% if cols == 1 %}<li id="alumno_{{ a.id }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% elif cols == 2 %}<li id="alumno_{{ a.id }}" class="col-xs-6 col-sm-6 col-md-2r col-lg-2r">
                {% elif cols == 3 %}<li id="alumno_{{ a.id }}" class="col-xs-4 col-sm-4 col-md-3r col-lg-3r">
                {% elif cols == 4 %}<li id="alumno_{{ a.id }}" class="col-xs-6 col-sm-3 col-md-4r col-lg-4r">
                {% elif cols == 5 %}<li id="alumno_{{ a.id }}" class="col-xs-6 col-sm-3 col-md-5r col-lg-5r">
                {% elif cols == 6 %}<li id="alumno_{{ a.id }}" class="col-xs-6 col-sm-4 col-md-6r col-lg-6r">
                {% elif cols == 7 %}<li id="alumno_{{ a.id }}" class="col-xs-4 col-sm-3 col-md-7r col-lg-7r">
                {% elif cols == 8 %}<li id="alumno_{{ a.id }}" class="col-xs-6 col-sm-3 col-md-8r col-lg-8r">
                {% endif %}


                <div class="panel panel-primary" id="panel-alumno{{ a.id }}">

                    <div class="panel-heading" style="height: 30px; padding: 0.5px 3px 1px 3px; white-space: nowrap; text-overflow: ellipsis;">
                        <!-- valorar-alumno-->
                        <h4 class="panel-title" style="font-weight: bold; ">
                            <input type="checkbox" name="cuadriculaAlumnado" value="{{ a.id }}">
                            <span style="cursor: pointer" onclick="seleccionar_alumno({{ a.id }})">
                                    {{ a.nombre | capfirst }} {{ a.apellido1 | first }}. {{ a.apellido2 |first }}.
                            </span>
                        </h4>
                    </div>

                    <input type="hidden" id="url{{ a.id }}" name="url{{ a.id }}" value="{% url 'anotar' a.id object.id fecha %}" readonly>

                    <!-- detalle del alumno -->
                    <div class="panel-body" style="padding: 5px">
                         <a style="cursor: pointer" id="anotacion-button{{ a.id }}">
                            {% if a.foto %}
                                <img src="{{ a.foto.url }} " class="img-circle foto-alumno"/>
                            {% else %}
                                <img src="{%static "sinfoto.png" %}" class="img-circle foto-alumno"/>
                            {% endif %}
                         </a>
                        <script>
                            $('#anotacion-button{{ a.id }}').click(function() {
                                $('#form-modal-title').html("[{{ fecha }}] {{ asignatura.nombre }}: <br> {{ a.nombre | capfirst }} {{ a.apellido1 |capfirst }} {{ a.apellido2 |capfirst }}")

                                $('#form-modal-body').load(document.getElementById("url{{ a.id }}").value, function () {

                                    $('#form-modal').modal('toggle');
                                    $("body").addClass("overflow");
                                    formAjaxSubmit('#form-modal-body form', '#form-modal');
                                    $("body").removeClass("overflow");
                                });
                            });
                        </script>
                    </div>

                    <div class="panel-footer" style="padding:1px; text-align: center">


                    <!-- anotar al alumno/a -->
                        {% for anotacion in anotacion_list %}
                            {% if a.id == anotacion.alumno.id %} <!-- el alumno tiene una anotación creada -->

                                {% define "Yes" as anotacion_creada %}

                                {% if anotacion.falta %}
                                    <a href="{% url 'poner-falta' a.id object.id vista fecha %}"><span class="red">F</span></a>
                                {% else %}
                                    <a href="{% url 'poner-falta' a.id object.id vista fecha%}"><span class="blue">F</span></a>
                                {% endif %}

                                {% if anotacion.trabaja %}
                                    <a href="{% url 'poner-trabaja' a.id object.id vista fecha %}"><span class="green">T</span></a>
                                {% else %}
                                    <a href="{% url 'poner-trabaja' a.id object.id vista fecha %}"><span class="blue">T</span></a>
                                {% endif %}
                                {% if anotacion.positivos %}
                                    <a href="{% url 'poner-positivo' a.id object.id vista fecha %}"><span class="orange">{{ anotacion.positivos }}+</span></a>
                                {% else %}
                                     <a href="{% url 'poner-positivo' a.id object.id vista fecha %}"><span class="blue2">+</span></a>
                                {% endif %}

                                {% if anotacion.negativos %}
                                    <a href="{% url 'poner-negativo' a.id object.id vista fecha %}"><span class="orange">{{ anotacion.negativos }}-</span></a>
                                {% else %}
                                     <a href="{% url 'poner-negativo' a.id object.id vista fecha %}"><span class="blue2">-</span></a>
                                {% endif %}

                                {% if anotacion.falta %}
                                    {% if anotacion.trabaja or anotacion.positivos or anotacion.negativos %}
                                        <!--ERROR: si ha faltado, no debe tener anotaciones -->
                                        <script>
			                            $(function(){
                                            $("#panel-alumno{{ a.id }}").removeClass("panel-primary")
                                            $("#panel-alumno{{ a.id }}").addClass("panel-danger")});
		                                </script>
                                    {% endif %}
                                {% endif %}


                            {% elif anotacion_creada is None and forloop.last %} <!-- el alumno no tiene una anotación creada -->

                                <a href="{% url 'poner-falta' a.id object.id vista fecha %}"><span class="blue">F</span></a>
                                <a href="{% url 'poner-trabaja' a.id object.id vista fecha %}"><span class="blue">T</span></a>
                                <a href="{% url 'poner-positivo' a.id object.id vista fecha %}"><span class="blue2">+</span></a>
                                <a href="{% url 'poner-negativo' a.id object.id vista fecha %}"><span class="blue2">-</span></a>

                            {% endif %}

                            {% empty %} <!-- no hay ninguna anotación -->
                                <a href="{% url 'poner-falta' a.id object.id vista fecha %}"><span class="blue">F</span></a>
                                <a href="{% url 'poner-trabaja' a.id object.id vista fecha %}"><span class="blue">T</span></a>
                                <a href="{% url 'poner-positivo' a.id object.id vista fecha %}"><span class="blue2">+</span></a>
                                <a href="{% url 'poner-negativo' a.id object.id vista fecha %}"><span class="blue2">-</span></a>

                        {% endfor %}

                    </div>

                </div>
            </li>

        {% endfor %}


    </ul></div>


    {% endif %}

    </form>


    <!-- Ventana MODAL para las anotaciones -->

    <div id="form-modal" class="modal fade" style ="opacity: 1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="form-modal-title" class="modal-title">Anotación invidual</h4>
                </div>
                <div id="form-modal-body" class="modal-body">
                    <p>Contenido del formulario</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}