{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url "asignaturas-pdf" %}">Exportar a PDF</a></li>
{% endblock %}

{% block section %}

    <h2>Asignaturas</h2>
    <hr>

{% endblock %}

{% block maincontent %}
    <div>
        {% for a in object_list %}
            <a href="{% url 'detalle-asignatura-cuad' a.id fecha %}">
                {{ a.nombre | capfirst}} impartida por {{ a.profesor.nombre | capfirst}} {{ a.profesor.apellidos | capfirst}}
            en {{ a.grupo.get_curso_display }} {{ a.grupo.unidad }}
            </a>
            <br>
        {% endfor %}
    <hr>
    <a href="{%  url 'nueva-asignatura' %}">Nueva asignatura</a>
    </div>

{% endblock %}