{% extends 'base.html' %}

{% block maincontent %}
    <form action="" method="post">{% csrf_token %}
        <p>¿Borrar la asignatura <strong>{{ object.nombre }}</strong> impartida por <strong>{{ object.profesor.first_name }} {{ object.profesor.last_name }}</strong>?</p>

        <br>
        <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Confirmar</button>
        <a class='btn btn-primary' href="{% url 'lista-asignaturas' %}">Cancelar</a>
        </div>
    </form>
{% endblock %}