<!-- vista = 'lista' -->
{% extends 'base.html' %}
{% load static %}
{% load mis_filtros %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li><a href="{% url 'asignaturas-profesor' %}">Diario de clase</a></li>
    <li class="active">{{ object.nombre}}</li>
{% endblock %}


{% block maincontent %}

    <form action="{% url "poner-anotaciones" object.id vista fecha %}" id="anotaciones_form" method="post">{% csrf_token %}

        <div class="btn-group-sm enlaces-fecha">
            <label class="control-label" for="datepicker"> Fecha: </label>
            <input type="text" name="fecha" id="datepicker" step="1" value="{{ fecha }}" size="8">

            <button type="button" class="btn btn-primary btn-fab" onclick="cambiarVista('cuadricula')" data-toggle="tooltip" title="Vista cuadrícula">
                <i class="material-icons">view_module</i>
            </button>

            <button type="button" class="btn btn-primary btn-fab"  onclick="cambiarVista('lista')" data-toggle="tooltip" title="Vista lista">
                <i class="material-icons">view_list</i>
            </button>

            <input type="hidden" id="vista" name="vista" value="{{ vista }}" readonly>

            <button type="button" class="btn btn-primary btn-fab"  data-toggle="tooltip" title="Anotaciones"
                    onclick="window.location.href='{% url "lista-anotaciones" object.id vista%}'">
                <i class="material-icons">assessment</i>
            </button>

        </div>

    {% if not lectivo %}
        <br>
        <h4 class="alert alert-success">Día no lectivo</h4>
    {% else %}

        <div id="mySidenav" class="sidenav">
            <a data-toggle="tooltip" title="Seleccionar todos" onclick="seleccionar_checkbox(1)" id="todos"><i class="material-icons">select_all</i></a>
            <a data-toggle="tooltip" title="Borrar selección" onclick="seleccionar_checkbox(0)" id="ninguno"><i class="material-icons">all_out</i></a>
            <a data-toggle="tooltip" title="Invertir selección" id="invertir" onclick="invertir_seleccion()"><i class="material-icons">swap_vert</i></a>
            <a data-toggle="tooltip" title="Falta" onclick="poner_falta()" id="falta"><i class="material-icons">watch_later</i></a>
            <a data-toggle="tooltip" title="Trabaja" onclick="poner_trabaja()" id="trabaja"><i class="material-icons">stars</i></a>
            <a data-toggle="tooltip" title="Positivo" onclick="poner_positivo()" id="positivo"><i class="material-icons">thumb_up</i></a>
            <a data-toggle="tooltip" title="Negativo" onclick="poner_negativo()" id="negativo"><i class="material-icons">thumb_down</i></a>
        </div>

        <input type="hidden" id="nota" name="nota" value="sin anotacion">

        <!-- VISTA LISTA -->
        <div id="lista">

        <table class="table table-hover" id="tablaAlumnado">
            <tr>
                <th>Alumno/a</th>
                <th colspan="5">Observación diaria</th>
            </tr>

            {% for a in object.alumno_set.all %}

            <tr class="{% cycle 'fila1' 'fila2' %}" id="filaAlumno{{ a.id }}">
                <td class="alumno">
                    {% if a.foto %}
                        <img src="{{ a.foto.url }} " class="img-foto" alt="icon"/>
                    {% else %}
                        <img src="{%static "sinfoto.png" %}" class="img-foto" alt="icon"/>
                    {% endif %}
                    <input type="checkbox" name="listaAlumnado" value="{{ a.id }}"
                    {% for i in request.session.lista %}
                        {% if a.id == i %}
                            checked
                        {% endif %}
                    {% endfor %}
                    >
                    <span class="nombre-alumno" onclick="seleccionar_alumno({{ a.id }})">
                        {{ a.nombre | capfirst }} {{ a.apellido1 |capfirst }} {{ a.apellido2 |capfirst }}
                    </span>
                </td>

                <td class="blue anotacion">
                    <span data-toggle="tooltip" title="Editar" class="glyphicon glyphicon-edit boton" id="anotacion-button{{ a.id }}"></span>

                    <script>
                        $('#anotacion-button{{ a.id }}').click(function() {
                            $('#form-modal-title').html("[{{ fecha }}] {{ asignatura.nombre }}: <br> {{ a.nombre | capfirst }} {{ a.apellido1 |capfirst }} {{ a.apellido2 |capfirst }}")

                            $('#form-modal-body').load(document.getElementById("url{{ a.id }}").value, function () {
                                $('#form-modal').modal('toggle');
                                $("body").addClass("overflow");
                                formAjaxSubmit('#form-modal-body form', '#form-modal', {{ a.id }});
                                $("body").removeClass("overflow");
                            });
                        });
                    </script>
                    <input type="hidden" id="url{{ a.id }}" name="url{{ a.id }}" value="{% url 'anotar' a.id object.id vista fecha %}" readonly>
                </td>

                 <!-- anotar al alumno/a -->
                {% for anotacion in anotacion_list %}
                    {% if a.id == anotacion.alumno.id %} <!-- el alumno tiene una anotación creada -->

                        {% define "Yes" as anotacion_creada %}

                        {% if anotacion.falta %}
                            <td class="red anotacion"><a class="boton" id="falta-button{{ a.id }}">F</a></td>
                        {% else %}
                            <td class="blue anotacion"><a class="boton" id="falta-button{{ a.id }}">F</a></td>
                        {% endif %}
                        <script>
                            $('#falta-button{{ a.id }}').click(function() {
                                ponerValoracion("{% url 'poner-falta' a.id object.id vista fecha%}", {{ a.id }});
                            });
                        </script>

                        {% if anotacion.trabaja %}
                            <td class="green anotacion"><a class="boton" id="trabaja-button{{ a.id }}">T</a></td>
                        {% else %}
                            <td class="blue anotacion"><a class="boton" id="trabaja-button{{ a.id }}">T</a></td>
                        {% endif %}
                        <script>
                            $('#trabaja-button{{ a.id }}').click(function() {
                                ponerValoracion("{% url 'poner-trabaja' a.id object.id vista fecha%}", {{ a.id }});
                            });
                        </script>

                        {% if anotacion.positivos %}
                            <td class="orange anotacion"><a class="boton" id="positivo-button{{ a.id }}">{{ anotacion.positivos }} <span class="glyphicon glyphicon-plus"></span> </a></td>
                        {% else %}
                            <td class="blue anotacion"><a class="boton" id="positivo-button{{ a.id }}"><span class="glyphicon glyphicon-plus"></span> </a></td>
                        {% endif %}
                        <script>
                            $('#positivo-button{{ a.id }}').click(function() {
                                ponerValoracion("{% url 'poner-positivo' a.id object.id vista fecha%}", {{ a.id }});
                            });
                        </script>

                        {% if anotacion.negativos %}
                            <td class="orange anotacion"><a class="boton" id="negativo-button{{ a.id }}">{{ anotacion.negativos }} <span class="glyphicon glyphicon-minus"></span></a></td>
                        {% else %}
                            <td class="blue anotacion"><a class="boton" id="negativo-button{{ a.id }}"><span class="glyphicon glyphicon-minus"></span></a></td>
                        {% endif %}
                        <script>
                            $('#negativo-button{{ a.id }}').click(function() {
                                ponerValoracion("{% url 'poner-negativo' a.id object.id vista fecha%}", {{ a.id }});
                            });
                        </script>

                        {% if anotacion.falta %}
                            {% if anotacion.trabaja or anotacion.positivos or anotacion.negativos %}
                                <!--ERROR: si ha faltado, no debe tener anotaciones -->
                                <script>
                                    $(function(){
                                        $("#filaAlumno{{ a.id }}").removeClass("fila1")
                                        $("#filaAlumno{{ a.id }}").removeClass("fila2")
                                        $("#filaAlumno{{ a.id }}").addClass("error")});
                                </script>
                            {% endif %}
                        {% endif %}


                    {% elif anotacion_creada is None and forloop.last %} <!-- el alumno no tiene una anotación creada -->

                        <td class="blue anotacion"><a class="boton" id="falta-button{{ a.id }}">F</a></td>
                        <script>
                            $('#falta-button{{ a.id }}').click(function() {
                                ponerValoracion("{% url 'poner-falta' a.id object.id vista fecha%}", {{ a.id }});
                            });
                        </script>

                        <td class="blue anotacion"><a class="boton" id="trabaja-button{{ a.id }}">T</a>
                        <script>
                            $('#trabaja-button{{ a.id }}').click(function() {
                                ponerValoracion("{% url 'poner-trabaja' a.id object.id vista fecha%}", {{ a.id }});
                            });
                        </script>

                        <td class="blue anotacion"><a class="boton" id="positivo-button{{ a.id }}"><span class="glyphicon glyphicon-plus"></span></a></td>
                        <script>
                            $('#positivo-button{{ a.id }}').click(function() {
                                ponerValoracion("{% url 'poner-positivo' a.id object.id vista fecha%}", {{ a.id }});
                            });
                        </script>

                        <td class="blue anotacion"><a class="boton" id="negativo-button{{ a.id }}"><span class="glyphicon glyphicon-minus"></span></a></td>
                        <script>
                            $('#negativo-button{{ a.id }}').click(function() {
                                ponerValoracion("{% url 'poner-negativo' a.id object.id vista fecha%}", {{ a.id }});
                            });
                        </script>

                    {% endif %}

                {% empty %} <!-- no hay ninguna anotación -->
                    <td class="blue anotacion"><a class="boton" id="falta-button{{ a.id }}">F</a></td>
                    <script>
                        $('#falta-button{{ a.id }}').click(function() {
                             ponerValoracion("{% url 'poner-falta' a.id object.id vista fecha%}", {{ a.id }});
                        });
                    </script>
                    <td class="blue anotacion"><a class="boton" id="trabaja-button{{ a.id }}">T</a>
                    <script>
                        $('#trabaja-button{{ a.id }}').click(function() {
                             ponerValoracion("{% url 'poner-trabaja' a.id object.id vista fecha%}", {{ a.id }});
                        });
                    </script>
                    <td class="blue anotacion"><a class="boton" id="positivo-button{{ a.id }}"><span class="glyphicon glyphicon-plus"></span></a></td>
                    <script>
                        $('#positivo-button{{ a.id }}').click(function() {
                             ponerValoracion("{% url 'poner-positivo' a.id object.id vista fecha%}", {{ a.id }});
                        });
                    </script>
                    <td class="blue anotacion"><a class="boton" id="negativo-button{{ a.id }}"><span class="glyphicon glyphicon-minus"></span></a></td>
                    <script>
                        $('#negativo-button{{ a.id }}').click(function() {
                             ponerValoracion("{% url 'poner-negativo' a.id object.id vista fecha%}", {{ a.id }});
                        });
                    </script>

                {% endfor %}

                </tr>
            {% endfor %}

        </table>

        </div>


    {% endif %}

    </form>

    <!-- Ventana MODAL para las anotaciones -->

    <div id="form-modal" tabindex="-1" class="modal fade ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="form-modal-title" class="modal-title">Anotación invidual</h4>
                </div>
                <div id="form-modal-body" class="modal-body" style="padding-top: 0">
                    <p>Contenido del formulario</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}

{% block js %}
    <script>

    jQuery(function($){
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant ',
		nextText: ' Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
	$("#datepicker").datepicker({
        showAnim: 'slideDown',
        beforeShowDay: jQuery.datepicker.noWeekends,
        onSelect: function(date, inst) {
            document.getElementById('anotaciones_form').submit();
        },
    });
});


$(document).ready(function() {
   $("#datepicker").datepicker();
 });


    var formAjaxSubmit = function(form, modal, num) {
     $(form).submit(function (e) {
         e.preventDefault();
         $.ajax({
             type: $(this).attr('method'),
             url: $(this).attr('action'),
             data: $(this).serialize(),
             success: function (xhr, ajaxOptions, thrownError) {
                 if ( $(xhr).find('.has-error').length > 0 ) {
                     $(modal).find('.modal-body').html(xhr);
                     formAjaxSubmit(form, modal);
                 } else {
                      $(modal).modal('toggle');
                     var contenidoTr='<tr class="' + $(xhr).find('#filaAlumno'+num).attr("class")
                         + '" id="filaAlumno' + num + '">'+
                         $(xhr).find('#filaAlumno'+num).html() +'</tr>';

                     $('#filaAlumno'+num).replaceWith(contenidoTr);
                     //location.reload(); //se recarga la página completa
                 }
             },
             error: function (xhr, ajaxOptions, thrownError) {
                 // handle response errors here
                }
             });
        });
    };

    var ponerValoracion = function(action, num) {
        $.ajax({
            type: 'POST',
            url: action,
            success: function (xhr, ajaxOptions, thrownError) {
                var contenidoTr = '<tr class="' + $(xhr).find('#filaAlumno'+num).attr("class")
                    + '" id="filaAlumno' + num + '">'+
                    $(xhr).find('#filaAlumno'+num).html() +'</tr>';
                $('#filaAlumno'+num).replaceWith(contenidoTr);
            }
        });
    };


    </script>

{% endblock %}
