{% extends 'base.html' %}
{% load static %}
{% load mis_filtros %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li><a href="{% url 'lista-asignaturas'%}">Asignaturas</a></li>
    <li class="active">{{ object.nombre }}</li>
{% endblock %}

{% block maincontent %}

    <h2>{{ object.nombre | capfirst }}

    {% if object.profesor_id == request.user.id or request.user.is_superuser %}
        <a data-toggle="tooltip" title="Editar" href="{% url 'editar-asignatura' object.id %}"><i class="material-icons">mode_edit</i></a></a>
    {% endif %}
    {% if request.user.is_superuser %}
        <a data-toggle="tooltip" title="Eliminar" href="{% url 'eliminar-asignatura' object.id %}"><i class="material-icons">delete</i></a></a>
    {% endif %}

        <a data-toggle="tooltip" title="Exportar a PDF" href="{% url 'asignatura-pdf' object.id %}"><i class="material-icons">picture_as_pdf</i></a>
    </h2>

    <br>
    <div class="row well well-sm">
        <h4>
        <span style="color:#009688">Grupo:</span> {{ object.grupo.get_curso_display}} {{ object.grupo.unidad }}
        <br><br>
        <span style="color:#009688">Profesor/a:</span> {{ object.profesor.first_name }} {{ object.profesor.last_name }}
        </h4>
    </div>

    <br>

    <div class="row well well-sm">
        <h4 style="color:#009688">Alumnado matriculado</h4>
        <br>
        <div class="list-group">
        {%  for a in object.alumno_set.all %}
           <div class="list-group-item">
               {{ a.nombre | capfirst }} {{ a.apellido1 | capfirst }} {{ a.apellido2 | capfirst }}</div>
            <div class="list-group-separator"></div>
        {% endfor %}
        </div>
   </div>

{% endblock %}