{% extends 'base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li class="active">Asignaturas
    {% if not todos %} {{ grupo.get_curso_display }} {{ grupo.unidad }}{% endif %}</li>
{% endblock %}

{% block maincontent %}

    <h2>Asignaturas
        {% if request.user.is_superuser %}
        <a href="{% url 'nueva-asignatura' %}"><i class="material-icons">add_box</i></a>
        {% endif %}

        {% if todos %}
            <a href="{% url 'asignaturas-pdf' %}"><i class="material-icons">picture_as_pdf</i></a>
        {% else %}
            <a href="{% url 'asignaturas-grupo-pdf' grupo.pk %}"><i class="material-icons">picture_as_pdf</i></a>
        {% endif %}
    </h2>

    <form action="{% url 'asignaturas-grupo' %}" class="form form-por-grupos" id="sel_grupo_form" method="post">{% csrf_token %}

        <div class="form-group">
            <label class="col-md-2 control-label" for="grupo"> Grupo: </label>
            <div class="col-md-4">
                <select class="form-control" style="font-size: small" name="grupo" id="grupo" size="1">
                <option value="-1" {% if todos %}selected{% endif %}>Todos</option>
                {% for g in grupo_list %}
                    <option value="{{ g.id }}"
                            {% if not todos and g.id == grupo.pk%}selected{% endif %}>
                        {{ g.get_curso_display }} {{ g.unidad }}</option>
                {% endfor %}
                </select>
            </div>
            <div>
                <a style="cursor: pointer" onclick="document.getElementById('sel_grupo_form').submit()">
                    <i class="material-icons">find_in_page</i>
                </a>
            </div>
        </div>
    </form>
    <br>
    <div class="list-group">
        {% for a in object_list %}
            <div class="list-group-item">
                <a href="{% url 'detalle-asignatura' a.id%}">
                {{ a.nombre | capfirst}} impartida por {{ a.profesor.first_name | capfirst}} {{ a.profesor.last_name | capfirst}}
                en {{ a.grupo.get_curso_display }} {{ a.grupo.unidad }}
                </a>
            </div>

            <div class="list-group-separator"></div>
        {% endfor %}
    </div>

{% endblock %}