<!-- vista = 'lista' -->

{% extends 'base.html' %}
{% load static %}
{% load mis_filtros %}


{% block js %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!--se repite porque si no da error -->
    <script>

    jQuery(function($){
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant ',
		nextText: ' Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
	$("#datepicker").datepicker({
        showAnim: 'slideDown',
        beforeShowDay: jQuery.datepicker.noWeekends,
        onSelect: function(date, inst) {
            document.anotaciones_form.submit();
        },
    });
});


$(document).ready(function() {
   $("#datepicker").datepicker();
 });


    var formAjaxSubmit = function(form, modal) {
     $(form).submit(function (e) {
         e.preventDefault();
         $.ajax({
             type: $(this).attr('method'),
             url: $(this).attr('action'),
             data: $(this).serialize(),
             success: function (xhr, ajaxOptions, thrownError) {
                 if ( $(xhr).find('.has-error').length > 0 ) {
                     $(modal).find('.modal-body').html(xhr);
                     formAjaxSubmit(form, modal);
                 } else {
                     $(modal).modal('toggle');

                     alert("Anotación grabada correctamente")

                     location.reload(); //se recarga la página

                 }
             },
             error: function (xhr, ajaxOptions, thrownError) {
                 // handle response errors here
                }
             });
        });
    }


    </script>

{% endblock %}

{% block menu %}
    <li><a href="{% url "lista-anotaciones" object.id %}">Anotaciones</a></li>

{% endblock %}


{% block maincontent %}

    <h2>{{ object.nombre | capfirst }} impartida por {{ object.profesor.first_name | capfirst }} {{ object.profesor.last_name | capfirst }}</h2>

    <a href="{% url 'editar-asignatura' object.id %}">Editar</a>
    <a href="{% url 'eliminar-asignatura' object.id %}">Eliminar</a>
    <br><br>


    <form action="{% url "poner-anotaciones" object.id vista fecha %}" name="anotaciones_form" id="anotaciones_form" method="post">{% csrf_token %}

        <div id="enlaces_fecha">

            <div class="btn-group botones-form">
                <label for="datepicker"> Fecha: </label>
                <input type="text" name="fecha" id="datepicker" step="1" value="{{ fecha }}" size="8">
            </div>

            <div class="btn-group botones-form">
                <button type="button" class="btn btn-default" onclick="cambiarVista('cuadricula')">
                    <span class="glyphicon glyphicon-th"></span>
                </button>

                <button type="button" class="btn btn-default"  onclick="cambiarVista('lista')">
                    <span class="glyphicon glyphicon-list"></span>
                </button>

                <input type="hidden" id="vista" name="vista" value="{{ vista }}" readonly>

            </div>
        </div>


    {% if not lectivo %}
        <h4>Día no lectivo</h4>
    {% else %}

        <h4>Alumnado matriculado</h4>


            <p style="text-align: center">
                <input type="submit" name="poner_faltas" id="poner_faltas" value="Falta" class="btn btn-primary botones-form">
                <input type="submit" name="poner_trabaja" id="poner_trabaja" value="Trabajo" class="btn btn-primary botones-form">
                <input type="submit" name="poner_positivo" id="poner_positivo" value="Positivo" class="btn btn-primary botones-form">
                <input type="submit" name="poner_negativo" id="poner_negativo" value="Negativo" class="btn btn-primary botones-form">
            </p>

            <div id="enlaces_seleccion">
                <span onclick="seleccionar_checkbox(1)">Seleccionar todos</span> |
                <span onclick="seleccionar_checkbox(0)">No seleccionar ninguno</span> |
                <span onclick="invertir_seleccion()">Invertir selección</span>
                <br><br>
            </div>

        <!-- VISTA LISTA -->
        <div id="lista">

        <table class="table table-hover" id="tablaAlumnado">
            <tr>
                <th>Alumno/a</th>
                <th colspan="5">Observación diaria</th>
            </tr>

            {% for a in object.alumno_set.all %}

            <tr class="{% cycle 'fila1' 'fila2' %}" id="filaAlumno{{ a.id }}">
                <td class="alumno">
                    <input type="checkbox" name="listaAlumnado" value="{{ a.id }}">
                    <span style="cursor: pointer; color: #428BCA" onclick="seleccionar_alumno({{ a.id }})">
                        {{ a.nombre | capfirst }} {{ a.apellido1 |capfirst }} {{ a.apellido2 |capfirst }}
                    </span>
                </td>

                <td class="blue anotacion">
                    <span class="glyphicon glyphicon-edit boton" id="anotacion-button{{ a.id }}"></span>

                    <script>
                        $('#anotacion-button{{ a.id }}').click(function() {
                            $('#form-modal-title').html("[{{ fecha }}] {{ asignatura.nombre }}: <br> {{ a.nombre | capfirst }} {{ a.apellido1 |capfirst }} {{ a.apellido2 |capfirst }}")

                            $('#form-modal-body').load(document.getElementById("url{{ a.id }}").value, function () {
                                $('#form-modal').modal('toggle');
                                $("body").addClass("overflow");
                                formAjaxSubmit('#form-modal-body form', '#form-modal');
                                $("body").removeClass("overflow");
                            });
                        });
                    </script>
                    <input type="hidden" id="url{{ a.id }}" name="url{{ a.id }}" value="{% url 'anotar' a.id object.id fecha %}" readonly>
                </td>

                 <!-- anotar al alumno/a -->
                {% for anotacion in anotacion_list %}
                    {% if a.id == anotacion.alumno.id %} <!-- el alumno tiene una anotación creada -->

                        {% define "Yes" as anotacion_creada %}

                        {% if anotacion.falta %}
                            <td class="red anotacion"><a class="boton" href="{% url 'poner-falta' a.id object.id vista fecha %}">F</a></td>
                        {% else %}
                            <td class="blue anotacion"><a class="boton" href="{% url 'poner-falta' a.id object.id vista fecha %}">F</a></td>
                        {% endif %}

                        {% if anotacion.trabaja %}
                            <td class="green anotacion"><a class="boton" href="{% url 'poner-trabaja' a.id object.id vista fecha %}">T</a></td>
                        {% else %}
                            <td class="blue anotacion"><a class="boton" href="{% url 'poner-trabaja' a.id object.id vista fecha %}">T</a></td>
                        {% endif %}

                        {% if anotacion.positivos %}
                            <td class="orange anotacion"><a class="boton" href="{% url 'poner-positivo' a.id object.id vista fecha %}">{{ anotacion.positivos }} +</a></td>
                        {% else %}
                            <td class="blue anotacion"><a class="boton" href="{% url 'poner-positivo' a.id object.id vista fecha %}">+</a></td>
                        {% endif %}

                        {% if anotacion.negativos %}
                            <td class="orange anotacion"><a class="boton" href="{% url 'poner-negativo' a.id object.id vista fecha %}">{{ anotacion.negativos }} -</a></td>
                        {% else %}
                            <td class="blue anotacion"><a class="boton" href="{% url 'poner-negativo' a.id object.id vista fecha %}">-</a></td>
                        {% endif %}

                        {% if anotacion.falta %}
                            {% if anotacion.trabaja or anotacion.positivos or anotacion.negativos %}
                                <!--ERROR: si ha faltado, no debe tener anotaciones -->
                                <script>
                                    $(function(){
                                        $("#filaAlumno{{ a.id }}").removeClass("fila1")
                                        $("#filaAlumno{{ a.id }}").removeClass("fila2")
                                        $("#filaAlumno{{ a.id }}").addClass("error")});
                                </script>
                            {% endif %}
                        {% endif %}


                    {% elif anotacion_creada is None and forloop.last %} <!-- el alumno no tiene una anotación creada -->

                        <td class="blue anotacion"><a class="boton" href="{% url 'poner-falta' a.id object.id vista fecha %}">F</a></td>
                        <td class="blue anotacion"><a class="boton" href="{% url 'poner-trabaja' a.id object.id vista fecha %}">T</a>
                        <td class="blue anotacion"><a class="boton" href="{% url 'poner-positivo' a.id object.id vista fecha %}">+</a></td>
                        <td class="blue anotacion"><a class="boton" href="{% url 'poner-negativo' a.id object.id vista fecha %}">-</a></td>

                    {% endif %}

                {% empty %} <!-- no hay ninguna anotación -->
                    <td class="blue anotacion"><a class="boton" href="{% url 'poner-falta' a.id object.id vista fecha %}">F</a></td>
                    <td class="blue anotacion"><a class="boton" href="{% url 'poner-trabaja' a.id object.id vista fecha %}">T</a>
                    <td class="blue anotacion"><a class="boton" href="{% url 'poner-positivo' a.id object.id vista fecha %}">+</a></td>
                    <td class="blue anotacion"><a class="boton" href="{% url 'poner-negativo' a.id object.id vista fecha %}">-</a></td>

                {% endfor %}

                </tr>
            {% endfor %}

        </table>

        </div>


    {% endif %}

    </form>



    <!-- Ventana MODAL para las anotaciones -->

    <div id="form-modal" tabindex="-1" class="modal fade ">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="form-modal-title" class="modal-title">Anotación invidual</h4>
                </div>
                <div id="form-modal-body" class="modal-body">
                    <p>Contenido del formulario</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}