{% extends 'base.html' %}

{% block js %}

<script>

jQuery(function($){

	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '&#x3c;Ant ',
		nextText: ' Sig&#x3e;',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
		'Jul','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Mi&eacute;rcoles','Jueves','Viernes','S&aacute;bado'],
		dayNamesShort: ['Dom','Lun','Mar','Mi&eacute;','Juv','Vie','S&aacute;b'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S&aacute;'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
});


$(document).ready(function() {
   $("#datepicker_inicio").datepicker();
   $("#datepicker_fin").datepicker();
 });
</script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li><a href="{% url 'asignaturas-profesor' %}">Mis asignaturas</a></li>
    {% if vista == "cuad" %}
        <li><a href="{% url 'detalle-asignatura-cuad' idAsignatura fecha %}">{{ nombreAsignatura}}</a></li>
    {% else %}
        <li><a href="{% url 'detalle-asignatura-lista' idAsignatura fecha %}">{{ nombreAsignatura}}</a></li>
    {% endif %}
    <li class="active">Ver anotaciones</li>
{% endblock %}


{% block maincontent %}

    <h2 style="margin-bottom:0px">Anotaciones de la asignatura {{ nombreAsignatura }}</h2>

    {% if error %}
        <br>
        <p class="error help-inline">{{ mensaje_error }}</p>
    {% endif %}

    <form action="" name="fechas_anotaciones_form" id="fechas_anotaciones_form" class="form" method="post" role="form">{% csrf_token %}

        <div class="form-group">
            <label for="datepicker_inicio" class="col-md-4 control-label">Fecha de inicio:</label>
            <div class="col-md-8"><input class="form-control" type="text" name="inicio" id="datepicker_inicio" step="1" value="{{ fecha }}" size="8">
            </div>
        </div>

        <div class="form-group">
            <label for="datepicker_fin" class="col-md-4 control-label">Fecha de fin:</label>
            <div class="col-md-8"><input class="form-control" type="text" name="fin" id="datepicker_fin" step="1" value="{{ fecha }}" size="8">
            </div>
        </div>


        <input type="submit" name="ver_anotaciones" id="ver_anotaciones" value="Ver anotaciones" class="btn btn-primary btn-raised botones-form">

        <div class="btn-group">
            <a href="#" data-target="#" class="btn btn-primary btn-raised dropdown-toggle botones-form" data-toggle="dropdown">Exportar a <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><input type="submit" name="anotaciones_pdf" id="anotaciones_pdf" value="Exportar a PDF" class="link"></li>
                <li><input type="submit" name="anotaciones_csv" id="anotaciones_csv" value="Exportar a CSV" class="link"></li>
                <li><input type="submit" name="anotaciones_xls" id="anotaciones_xls" value="Exportar a CALC" class="link"></li>
            </ul>
        </div>

        {% if vista == "cuad" %}
            <a class='btn' href="{% url 'detalle-asignatura-cuad' idAsignatura fecha %}">Volver</a> <!--asignatura pasada por el contexto-->
        {% else %}
             <a class='btn' href="{% url 'detalle-asignatura-lista' idAsignatura fecha %}">Volver</a>
        {% endif %}
    </form>


{% endblock %}

