{% extends 'base.html' %}
{% load static %}
{% load mis_filtros %}
{% block js %}

   <link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.15/css/dataTables.bootstrap.css'%}"/>
    <script type="text/javascript" src="{% static 'DataTables-1.10.15/js/jquery.dataTables.js'%}"></script>
    <script type="text/javascript" src="{% static 'DataTables-1.10.15/js/dataTables.bootstrap.js'%}"></script>


    <script>
    $(document).ready(function() {
    $('#grupo').DataTable({
        "order": [[ 1, "asc" ]],

        "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "Todos"]],
        "language": {
                "url": "{% static 'language/Spanish.json' %}"
            }
        } );
    } );




    </script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li><a href="{% url 'lista-grupos' %}">Grupos</a></li>
    <li class="active">{{ object.get_curso_display }} {{ object.unidad}}</li>
{% endblock %}

{% block maincontent %}

    <h2>{{ object.get_curso_display }} {{ object.unidad}}

    {% if request.user.is_superuser %}
        <a data-toggle="tooltip" title="Editar" href="{% url 'editar-grupo' object.id %}"><i class="material-icons">mode_edit</i></a>
        <a data-toggle="tooltip" title="Eliminar" href="{% url 'eliminar-grupo' object.id %}"><i class="material-icons">delete</i></a>
    {% endif %}
        <a data-toggle="tooltip" title="Exportar a PDF" href="{% url 'grupo-pdf' object.id %}"><i class="material-icons">picture_as_pdf</i></a>
    </h2>

    <br>

     <div class="row well well-sm" style="padding-left: 50px;padding-right: 50px">
         <h4 style="margin-top: 5px; margin-bottom: 20px">Tutor/a:</h4>
         <a href="{% url 'detalle-profesor' object.tutor.id %}">{{ object.tutor.first_name }} {{ object.tutor.last_name }}</a>
     </div>
    <div class="row well well-sm" style="padding-left: 50px;padding-right: 50px">

        <table id="grupo" class="display table table-responsive table-hover" width="100%">
        <thead>
            <tr>
                <th>Fotografía</th>
                <th>Alumno</th>
                <th>Edad</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
        {% for a in object.alumno_set.all  %}
            <tr>
                <td style="text-align: center">
                    {% if a.foto %}
                        <img src="{{ a.foto.url }} " class="img-foto" alt="icon"/>
                    {% else %}
                        <img src="{%static "sinfoto.png" %}" class="img-foto" alt="icon"/>
                {% endif %}
                </td>
                <td>
                    {% if request.user.is_superuser or request.user.id == a.grupo.tutor.id %}
                        <a href="{% url 'detalle-alumno-grupo' a.id %}">
                        {{ a.apellido1 }} {{ a.apellido2 }}, {{ a.nombre | capfirst}}
                        </a>
                    {% else %}
                        {{ a.apellido1 }} {{ a.apellido2 }}, {{ a.nombre | capfirst}}
                    {% endif %}
                </td>
                <td>{{ a.fecha_nacimiento | edad }}</td>
                <td>{{ a.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   </div>


{% endblock %}

