{% extends 'base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li class="active">Grupos</li>
{% endblock %}

{% block maincontent %}

    <h2>Grupos
        {% if request.user.is_superuser %}
            <a href="{% url 'nuevo-grupo' %}"><i class="material-icons">add_box</i></a>
        {% endif %}
        <a href="{% url 'grupos-pdf' %}"><i class="material-icons">picture_as_pdf</i></a>
    </h2>
    <br>

    <div class="list-group">
        {% for g in object_list %}
            <div class="list-group-item">
            <a href="{% url 'detalle-grupo' g.id %}">
                {{ g.get_curso_display}} {{ g.unidad}}
            </a>
            </div>

            <div class="list-group-separator" ></div>
        {% endfor %}
    </div>

{% endblock %}