{% extends 'base.html' %}
{% load mis_filtros %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li><a href="{% url 'lista-grupos' %}">Grupos</a></li>
    {% if object.id != null %}
        <li><a href="{% url 'detalle-grupo' object.id %}">{{ object.get_curso_display }} {{ object.unidad}}</a></li>
        <li class="active">Editar</li>
    {% else %}
        <li class="active">Nuevo</li>
    {% endif %}
{% endblock %}

{% block maincontent %}

    <form class="form form-grupo" method="post" role="form">{% csrf_token %}

    <fieldset>

        {% for field in form %}
            {% if field.errors %}
                <div class="form-group error">
                    <label class="col-md-2 control-label">
                        {{ field.label }} {% if field.field.required %}*{% endif %}</label>
                    <div class="col-md-10">{{field|addcss:"form-control"}}
                        <span class="error help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        {{ field.label }} {% if field.field.required %}*{% endif %}</label>
                    <div class="col-md-10">{{field|addcss:"form-control"}}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <br>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Guardar</button>
            {% if object.id != null %}
                <a class='btn btn-default' href="{% url 'detalle-grupo' object.id %}">Cancelar</a>
            {% else %}
                <a class='btn btn-default' href="{% url 'lista-grupos' %}">Cancelar</a>
            {% endif %}
        </div>
     </fieldset>
    </form>
{% endblock %}