{% extends 'base.html' %}

{% block section %}

    <h2>Matrículas</h2>
    <hr>

{% endblock %}

{% block maincontent %}
    <div>
        {% for m in object_list %}
            <a href="{% url 'detalle-matricula' m.id %}">
               {{ m.alumno.nombre }} {{ m.alumno.apellido1 }} {{ m.alumno.apellido2 }} matriculado en {{ m.asignatura.nombre }}
            </a>
            <br>
        {% endfor %}
    <hr>
    <a href="{%  url 'nueva-matricula' %}">Nueva matrícula</a>
    </div>

{% endblock %}