{% extends 'base.html' %}
{% load static %}

{% block js %}

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js"%}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectFilter2.js"%}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectBox.js"%}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "css/widgets.css"%}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/base_admin.css"%}"/>

{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li><a href="{% url 'lista-matriculas' %}?grupo={{ idGrupo }}">Matrículas {% if idGrupo != 0 %} {{ grupo.get_curso_display }} {{ grupo.unidad }}{% endif %}</a></li>
    <li class="active">Nueva</li>
{% endblock %}


{% block maincontent %}

     <fieldset>
        <form class="form" method="post" action="">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>

        <div class="form-actions" style="text-align: center">
            <button type="submit" class="btn btn-primary" >Matricular</button>
            <a class='btn btn-default' href="{% url 'lista-matriculas' %}?grupo={{ idGrupo }}">Cancelar</a>
        </div>
    </form>

    </fieldset>


{% endblock %}