{% extends 'base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li><a href="{% url 'lista-profesores' %}">Profesores/as</a></li>
    <li><a href="{% url 'detalle-profesor' object.id %}">{{ object.first_name | capfirst }} {{ object.last_name | capfirst }}</a></li>
    <li class="active">Eliminar</li>
{% endblock %}

{% block maincontent %}
    <form action="" method="post">{% csrf_token %}
        <br>
        <h4>¿Borrar el docente <strong>{{ object.first_name }} {{ object.last_name }}</strong>?</h4>
        <br>

        <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Confirmar</button>
        <a class='btn btn-default' href="{% url 'detalle-profesor' object.id%}">Cancelar</a>
        </div>
    </form>
{% endblock %}