{% extends 'base.html' %}

{% block maincontent %}

    <h2>{{ object.first_name | capfirst }} {{ object.last_name | capfirst }}</h2>

    {% if object.id == request.user.id or request.user.is_superuser %}
        <a href="{% url 'editar-profesor' object.id %}">Editar</a>
    {% endif %}
    {% if request.user.is_superuser %}
        <a href="{% url 'eliminar-profesor' object.id %}">Eliminar</a>
    {% endif %}

    <br><br>

    <h4>Asignaturas impartidas</h4>
    <div class="row well">
        {%  for a in object.asignatura_set.all %}

            <div>{{ a.nombre | capfirst }} de {{ a.grupo.get_curso_display }} {{ a.grupo.unidad }}</div>

        {% endfor %}
   </div>


{% endblock %}

