{% extends 'base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li class="active">Profesores/as</li>
{% endblock %}

{% block maincontent %}

    <h2>Profesores
    {% if request.user.is_superuser %}
        <a href="{% url 'nuevo-profesor' %}"><i class="material-icons">add_box</i></a>
        <a href="{% url 'profesorado-pdf' %}"><i class="material-icons">picture_as_pdf</i></a>
    {% else %}
        <a href="{% url 'profesorado-pdf' %}"><i class="material-icons">picture_as_pdf</i></a>
    {% endif %}
    </h2>
    <br>

    <div class="list-group">
        {% for p in object_list %}
            <div class="list-group-item">
                <a href="{% url 'detalle-profesor' p.id %}">
                {{ p.first_name | capfirst}} {{ p.last_name | capfirst}}
                </a>
            </div>

            <div class="list-group-separator"></div>
        {% endfor %}

    </div>

{% endblock %}