{% extends 'base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li class="active">Tutores/as</li>
{% endblock %}

{% block maincontent %}

    <h2>Tutores/as
    <a href="{% url 'tutorias-pdf' %}"><i class="material-icons">picture_as_pdf</i></a>
    </h2>
    <br>

    <div class="list-group">
        {% for t in object_list %}
            <div class="list-group-item">
            <a href="{% url 'detalle-profesor' t.id %}">
                {{ t.first_name | capfirst}} {{ t.last_name | capfirst}}
            </a>
             tutoriza a
            {% for g in t.grupo_set.all %}
                <a href="{% url 'detalle-grupo' g.id %}">
                    {{g.get_curso_display }} {{ g.unidad}}
                </a>
            {% endfor %}
            </div>
            <div class="list-group-separator"></div>
        {% endfor %}
    </div>

{% endblock %}