{% extends 'base.html' %}

{% block maincontent %}

    <h2>Tutores</h2>
    <hr>

    <div>
        {% for t in object_list %}
            <a href="{% url 'detalle-profesor' t.id %}">
                {{ t.first_name | capfirst}} {{ t.last_name | capfirst}}
            </a>
             tutoriza a
            {% for g in t.grupo_set.all %}
                <a href="{% url 'detalle-grupo' g.id %}">
                    {{g.get_curso_display }} {{ g.unidad}}
                </a>
            {% endfor %}
            <br>
        {% endfor %}
    </div>

{% endblock %}