{% load static %}
{% load mis_filtros %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Cuaderno del profesor</title>

    <!--jQuery UI CSS Framework-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- CDN Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    {# HTML5 shiv and Respond.js for IE8 support of HTML5 elements and media queries #}
    {# WARNING: Respond.js doesn't work if you view the page via file:// #}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- necesario para el datepicker de jquery-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{% static 'js/forms.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
    <link rel="stylesheet" href="{% static 'css/anotaciones.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_anotaciones.css' %}">
    <link rel="stylesheet" href="{% static 'css/columnas.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">


    {% block js %}<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>{% endblock %}


</head>
<body style="padding-top: 70px">
<!-- NavBar -->
    <!--nav class="navbar navbar-default"-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "inicio" %}">Logotipo</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                {% if not request.user.is_anonymous %}
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Centro
                            <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "lista-profesores" %}">Profesores/as</a></li>
                            <li><a href="{% url "lista-tutores" %}">Tutores/as</a></li>
                            <li><a href="{% url "lista-grupos" %}">Grupos</a></li>
                            <li><a href="{% url "lista-asignaturas" %}">Asignaturas</a></li>

                        </ul>
                    </li>


                    <li><a href="{% url "asignaturas-profesor" %}">Mis asignaturas</a></li>

    {% comment %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Alumnado
                            <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "lista-alumnos" %}">Listado de alumnos/as</a></li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Matrículas
                            <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "lista-matriculas" %}">Listado de matrículas</a></li>

                        </ul>
                    </li>
    {% endcomment %}

                </ul>

                {% endif %}

                <ul class="nav navbar-nav navbar-right">

                    {% if not request.user.is_anonymous %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Acciones
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {% if request.user.is_superuser %}
                                <li><a href="{% url "nuevo-profesor" %}">Nuevo/a profesor/a</a></li>
                                <li><a href="{% url "nueva-asignatura" %}">Nueva asignatura</a></li>
                                <li><a href="{% url "nuevo-alumno" %}">Nuevo/a alumno/a</a></li>
                                <li><a href="{% url "nuevo-grupo" %}">Nuevo grupo</a></li>
                                <li><a href="{% url "nueva-matricula" %}">Nueva matrícula</a></li>
                                <li class="divider"></li>
                                {% endif %}
                                {% block acciones %}{% endblock %}
                            </ul>
                        </li>
                    {% endif %}
                    <li><a href="{% url "acerca" %}">Acerca de </a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ request.user.first_name }} {{ request.user.last_name }}
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% if not request.user.is_authenticated %}
                                <li><a href="{% url "login" %}">Entrar</a></li>
                            {% else %}
                                <li><a href="{% url "editar-profesor" request.user.id%}">Actualizar</a></li>
                                <li><a href="{% url "logout" %}">Salir</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    {% include 'messages.html' %}

    <div class="container">
        {% block maincontent %}
        {% endblock %}
    </div>

</body>
</html>