{% load static %}
{% load mis_filtros %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>aNota</title>

    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">


    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts_google.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/material_icons.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap3.3.2.css' %}">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-material-design.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ripples.min.css'%}">


    <!--jQuery UI CSS Framework-->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">


    <!-- SCRIPTS para datepicker, sortable....-->
    <script src="{% static 'js/forms.js' %}"></script>

    {% comment %}
    <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery-1.12.3.js' %}"></script>
    {% endcomment %}


    <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>



    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
    <link rel="stylesheet" href="{% static 'css/anotaciones.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_anotaciones.css' %}">
    <link rel="stylesheet" href="{% static 'css/columnas.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/alertas.css' %}">

    {% block js %}{% endblock %}


</head>
<body >
<!-- NavBar -->
    <!--nav class="navbar navbar-default"-->
    <nav class="navbar navbar-default" style="margin-bottom: 0px" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "asignaturas-profesor" %}"><i class="material-icons">school</i> aNota</a>
            </div>


            <div class="collapse navbar-collapse navbar-responsive-collapse" id="bs-example-navbar-collapse-1">

                {% if not request.user.is_anonymous %}
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Centro
                            <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "lista-profesores" %}">Profesorado</a></li>
                            {% comment %}<li><a href="{% url "lista-tutores" %}">Tutores/as</a></li> {% endcomment %}
                            <li><a href="{% url "lista-grupos" %}">Grupos</a></li>
                            <li><a href="{% url "lista-asignaturas" %}">Asignaturas</a></li>
                            {% if request.user.is_superuser %}
                                <li><a href="{% url "lista-alumnos" %}">Alumnado</a></li>
                                <li><a href="{% url "lista-matriculas" %}">Matrículas</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="{% url "grupo-tutoria" %}">Tutoría</a></li>
                    <li><a href="{% url "asignaturas-profesor" %}">Mis asignaturas</a></li>
    {% comment %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Alumnado
                            <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "lista-alumnos" %}">Listado de alumnos/as</a></li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Matrículas
                            <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "lista-matriculas" %}">Listado de matrículas</a></li>

                        </ul>
                    </li>
    {% endcomment %}

                </ul>

                {% endif %}

                <ul class="nav navbar-nav navbar-right">
{% comment %}
                    {% if not request.user.is_anonymous %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Acciones
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {% if request.user.is_superuser %}
                                <li><a href="{% url "nuevo-profesor" %}">Nuevo/a profesor/a</a></li>
                                <li><a href="{% url "nueva-asignatura" %}">Nueva asignatura</a></li>
                                <li><a href="{% url "nuevo-alumno" %}">Nuevo/a alumno/a</a></li>
                                <li><a href="{% url "nuevo-grupo" %}">Nuevo grupo</a></li>
                                <li><a href="{% url "nueva-matricula" %}">Nueva matrícula</a></li>
                                <li class="divider"></li>
                                {% endif %}
                                {% block acciones %}{% endblock %}
                            </ul>
                        </li>
                    {% endif %}
{% endcomment %}
                    <li><a href="{% url "acerca" %}"><i class="material-icons">info</i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ request.user.first_name }} {{ request.user.last_name }}
                            {% if request.user.is_authenticated %}
                                <i class="material-icons">person</i>
                            {% else %}
                                <i class="material-icons">person_outline</i>
                            {% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% if not request.user.is_authenticated %}
                                <li><a href="{% url "login" %}">Entrar</a></li>
                            {% else %}
                                <li><a href="{% url "editar-profesor" request.user.id%}">Actualizar</a></li>
                                <li><a href="{% url "logout" %}">Salir</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <ul class="breadcrumb" style="margin-top:10px; margin-bottom: 0px">
    {% block breadcrumbs %}
        <li>Inicio</li>
    {% endblock %}
    </ul>

    {% include 'messages.html' %}

    <div class="container">
        {% block maincontent %}
        {% endblock %}
    </div>

    <div class="container">
        {% if is_paginated %}
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?{% url_replace page=page_obj.previous_page_number %}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span style="background-color: #009688;border-color: #009688;">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?{% url_replace page=i %}"><span style="color: #009688;">{{ i }}</span></a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?{% url_replace page=page_obj.next_page_number %}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
        {% endif %}
    </div>

    <!--SCRIPTS-->



<script src="{% static 'js/ripples.min.js'%}"></script>
<script src="{% static 'js/material.min.js'%}"></script>


<script>
  $(function () {
    $.material.init();
    //$('[data-toggle="tooltip"]').tooltip();
  });
</script>



</body>
</html>