{% extends 'base.html' %}
{% load mis_filtros %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li class="active">Login</li>
{% endblock %}


{% block maincontent %}

    <style>

    .form-login {
  max-width: 25rem;
  padding: 4rem 1rem 1rem; }


    </style>

    <h1><em style="color: #009688; font-weight: bolder">aNota</em> </h1>
    <hr>
    {% if form.errors %}
        <div class="alert-warning">Su nombre de usuario y contraseña no coinciden. Por favor, inténtelo de nuevo.</div>
    {% endif %}

    {% if request.GET.next %}
        {% if user.is_authenticated %}
            <div class="alert-warning">Su cuenta no tiene permiso para acceder a esta página.
            Para continuar, utilice una cuenta que tenga acceso.</div>
        {% else %}
            <div class="alert-warning">Por favor, entre en el sistema para ver la página solicitada.</div>
        {% endif %}
    {% endif %}

    <form id='form' method='post' class="form-horizontal form-login m-x-auto" role="form" action="{% url 'login' %}">{% csrf_token %}

	    {% for field in form %}
            <div class="control-group">
                <label style="margin-top: 0.5%;color: #009688" class="control-label">{{ field.label }}</label>
                <div style="margin-top: 0.5%" class="controls">{{field|addcss:"form-control"}} </div>
            </div>
        {% endfor %}

        <br>
		<div class="form-actions">
            <button type="submit" class="btn btn-primary" >Entrar</button>
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        </div>
	</form>

    {% comment %}
    <p><a href="{% url 'password-reset' %}">¿Olvidó su contraseña?</a></p>
    {% endcomment %}


    <!--div class="container">

  <form class="form-signin m-x-auto">
    <h2>Please sign in</h2>
    <div class="form-group">
      <label for="inputEmail" class="bmd-label-floating">Email address</label>
      <input type="email" id="inputEmail" class="form-control" required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="bmd-label-floating">Password</label>
      <input type="password" id="inputPassword" class="form-control" required>
      <span class="bmd-help">Use a combination of letters, symbols, and numbers</span>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form-->

</div>


{% endblock %}