{% extends 'base.html' %}

{% comment %} {% block barra %}{% endblock %}
{% endcomment %}


{% block maincontent %}

<table height="100%" width="100%">
<tr><td valign="middle" align="center">
    <h1><em style="color: #061d84">iAnotaciones</em> </h1>
    <hr>
    {% if form.errors %}
        <div class="alert-warning">Su nombre de usuario y contraseña no coinciden. Por favor, inténtelo de nuevo.</div>
    {% endif %}

    {% if request.GET.next %}
        {% if user.is_authenticated %}
            <div class="alert-warning">Su cuenta no tiene permiso para acceder a esta página.
            Para continuar, utilice una cuenta que tenga acceso.</div>
        {% else %}
            <div class="alert-warning">Por favor, entre en el sistema para ver la página solicitada.</div>
        {% endif %}
    {% endif %}

    <form id='form' method='post' class="form-horizontal" role="form" action="{% url 'login' %}">{% csrf_token %}

	    {% for field in form %}
            <div class="control-group">
                <label style="margin-top: 0.5%;color: #061d84" class="control-label">{{ field.label }}</label>
                <div style="margin-top: 0.5%" class="controls">{{ field }} </div>
            </div>
        {% endfor %}

        <br>
		<div class="form-actions">
            <button type="submit" class="btn btn-primary" >Entrar</button>
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        </div>
	</form>

    {% comment %}
    <p><a href="{% url 'password-reset' %}">¿Olvidó su contraseña?</a></p>
    {% endcomment %}

</td></tr>
</table>


{% endblock %}