{% extends 'base.html' %}

{% block maincontent %}

<div class="login-panel parent">
    <div class="child">
    {% if form.errors %}
        <p style="color:red">Nombre de usuario o contraseña incorrectos. Por favor, pruebe de nuevo.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}"> {% csrf_token %}

        {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.password.label_tag }}
        {{ form.password }}

        <input type="submit" value="Entrar"/> <input type="hidden" name="next"
                                                    value="{{ next }}"/>
    </form>
    </div>
</div>



{% endblock %}