{% extends 'base.html' %}
{% load static %}
{% load mis_filtros %}
{% block js %}

   <link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.15/css/dataTables.bootstrap.css'%}"/>
    <script type="text/javascript" src="{% static 'DataTables-1.10.15/js/jquery.dataTables.js'%}"></script>
    <script type="text/javascript" src="{% static 'DataTables-1.10.15/js/dataTables.bootstrap.js'%}"></script>


    <script>
    $(document).ready(function() {
    $('#alumnado').DataTable({
        "order": [[ 1, "asc" ]],

        "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "Todos"]],
        "language": {
                "url": "{% static 'language/Spanish.json' %}"
            }
        } );
    } );




    </script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li class="active">Alumnado
    {% if filter_group != 0 %} {{ grupo.get_curso_display }} {{ grupo.unidad }}{% endif %}</li>
{% endblock %}

{% block maincontent %}
    <div class="col-md-6">
        <h2>Alumnado
        {% if request.user.is_superuser %}
            <a data-toggle="tooltip" title="Añadir" href="{% url 'nuevo-alumno' %}"><i class="material-icons">add_box</i></a>
        {% endif %}

        {% if filter_group == 0 %}
            <a data-toggle="tooltip" title="Exportar a PDF" href="{% url 'grupos-pdf' %}"><i class="material-icons">picture_as_pdf</i></a>
        {% else %}
            <a data-toggle="tooltip" title="Exportar a PDF" href="{% url 'grupo-pdf' filter_group %}"><i class="material-icons">picture_as_pdf</i></a>
        {% endif %}

        </h2>
    </div>

    <div class="col-md-3 col-md-offset-3" style="padding-right: 0">
        <form action="{% url 'lista-alumnos' %}"  class="form form-por-grupos" id="sel_grupo_form1" method="get">

        <div class="form-group">
            <label class="col-md-5 control-label" for="grupo" style="text-align: right; padding-right: 0"> Grupo: </label>
            <div class="col-md-5">
                <select class="form-control" style="font-size: small" name="grupo" id="grupo" size="1">
                <option value="0" {% if filter_group == 0 %}selected{% endif %}>Todos</option>
                {% for g in grupo_list %}
                    <option value="{{ g.id }}"
                            {% if g.id == filter_group%}selected{% endif %}>
                        {{ g.get_curso_display }} {{ g.unidad }}</option>
                {% endfor %}
                </select>
            </div>
            <div>
                <a style="cursor: pointer" onclick="document.getElementById('sel_grupo_form1').submit()">
                    <i class="material-icons">find_in_page</i>
                </a>
            </div>
        </div>
        </form>
    </div>
    <br>

    <table id="alumnado" class="display table table-responsive table-hover" width="100%">
        <thead>
            <tr>
                <th>Fotografía</th>
                <th>Alumno</th>
                <th>E-mail</th>
                <th>Edad</th>
                <th>Grupo</th>
                <th>Tutor</th>
            </tr>
        </thead>
        <tbody>
        {% for a in object_list %}
            <tr>
                <td style="text-align: center">
                    {% if a.foto %}
                        <img src="{{ a.foto.url }} " class="img-foto" alt="icon"/>
                    {% else %}
                        <img src="{%static "sinfoto.png" %}" class="img-foto" alt="icon"/>
                {% endif %}
                </td>
                <td><a href="{% url 'detalle-alumno' a.id%}">
                    {{ a.apellido1 }} {{ a.apellido2 }}, {{ a.nombre | capfirst}} </a></td>
                <td>{% if a.email %}{{ a.email }}{% endif %}</td>
                <td>{{ a.fecha_nacimiento | edad }}</td>
                <td>{{ a.grupo.get_curso_display }} {{ a.grupo.unidad }}</td>

                <td>{{ a.grupo.tutor.last_name | capfirst}}, {{ a.grupo.tutor.first_name | capfirst}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}