{% extends 'base.html' %}
{% load mis_filtros %}

{% block breadcrumbs %}
    <li><a href="{% url 'inicio'%}">Inicio</a></li>
    <li><a href="{% url 'lista-alumnos' %}">Alumnado</a></li>
    {% if object.id != null %}
        <li><a href="{% url 'detalle-alumno' object.id%}">{{ object.nombre }} {{ object.apellido1 }} {{ object.apellido2 }}</a></li>
        <li class="active">Editar</li>
    {% else %}
        <li class="active">Nuevo</li>
    {% endif %}
{% endblock %}

{% block maincontent %}

    <form class="form form-alumno" enctype="multipart/form-data" method="post" role="form">{% csrf_token %}

    <span style="color:#a93226"> {{ form.non_field_errors }} </span>

    <fieldset>
        {% for field in form %}
            {% if field.errors %}
                {% if field.label != "Foto" %}<div class="form-group error">{% else %}<div class="error">{% endif %}
                    <label class="col-md-4 control-label">
                        {{ field.label }} {% if field.field.required %}*{% endif %}</label>
                    <div class="col-md-8">
                        {% if field.label == "Fecha de nacimiento"%}
                            {{field|addplaceholder:"DD/MM/AAAA"}}
                        {% elif field.label == "Foto" %}
                            {{ field }}
                        {% else %}
                            {{field|addcss:"form-control"}}
                        {% endif %}
                        <span class="error help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                {% if field.label != "Foto" %}<div class="form-group">{% else %}<div>{% endif %}
                    <label class="col-md-4 control-label">
                        {{ field.label }} {% if field.field.required %}*{% endif %}</label>
                    <div class="col-md-8">
                        {% if field.label == "Fecha de nacimiento"%}
                            {{field|addplaceholder:"DD/MM/AAAA"}}
                        {% elif field.label == "Foto" %}
                            {{ field }}
                        {% else %}
                            {{field|addcss:"form-control"}}
                        {% endif %}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    <br>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Guardar</button>
        {% if object.id != null %}
            <a class='btn btn-default' href="{% url 'detalle-alumno' object.id%}">Cancelar</a>
        {% else %}
            <a class='btn btn-default' href="{% url 'lista-alumnos'%}">Cancelar</a>
        {% endif %}
    </div>

    </fieldset>
</form>

{% endblock %}